@model PW_Proyecto.Models.Partido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Partido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jugador1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jugador1.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jugador2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jugador2.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resultado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>